#square-container{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
}

.square-wrap{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

/* .square-wrap:hover{
    transform:  rotateY(180deg);
} */

.square-front, .square-back{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.square-back{
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
}

.active{
    transform: rotateY(180deg);
}

.matched{
    background-color: burlywood;
}